<!DOCTYPE html>
<html>
    <head>
        <title>ATCoin</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ATcoin.png') }}">
    </head>
    <body>
        <header>
            <div class=topbar>
                <a class="btn btn-primary" href="/login">Login</a>
                <a class="btn btn-primary" href="/logout">Logout</a>
            </div>
            <h1><a href="/" class="nodeco title">ATCoin</a></h1>
            
        </header>
        <img src="{{ url_for('static', filename='ATcoin.png') }}" class="logo" />
        {% block content %}
        {% endblock %}
    </body>
</html>