{% extends "base.html" %}

{% block content %}
<h1>Votes</h1>
<p>You can send your ATV to certain usernames to vote for changes to the ATC network.</p>
<h2>Current Votes:</h2>
<p>Send to vote.1.mint - Mint 100000 CRSC <button class="btn btn-primary "><a class="btnlink" color="white" text-decoration="none" href="/pay/vote.1.mint/" >Vote</a></button></p>
<p>Send to vote.1.no - Don't mint CRSC <button class="btn btn-primary "><a class="btnlink" color="white" text-decoration="none" href="/pay/vote.1.no/" >Vote</a></button></p>

<p>Vote ends 9/20/2023.</p>
{% endblock %}